/* MAIN */
:root {
  --font-opensans: 'Open Sans', sans-serif;
  --font-roboto: 'Roboto', sans-serif;
  --nav-color: #1abc9c;
}

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  font-family: var(--font-opensans);
  margin: 0;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.title {
  font-family: var(--font-roboto);
  font-size: 48px;
  line-height: 0.66;
  font-weight: 900;
  color: #515151;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

/* CONTAINER */
.container {
  width: 1170px;
  margin: 0 auto;
  padding-right: 30px;
  padding-left: 30px;
}

/* HEADER */
.header {
  min-height: 50px;
  background-color: #19bb9b;
}

.page-nav {
  display: flex;
  align-items: center;
}

.list-item {
  display: flex;
  align-items: center;
}

.tel,
.email {
  font-size: 14px;
}

.tel::before {
  display: inline-block;
  content: '';
  height: 15px;
  width: 20px;
  margin-right: 5px;
  background-image: url('../images/icon_phone.png');
  background-repeat: no-repeat;
}

.email::before {
  display: inline-block;
  content: '';
  height: 15px;
  width: 20px;
  margin-right: 5px;
  background-image: url('../images/icon_email.png');
  background-repeat: no-repeat;
}

.auth-list {
  display: flex;
  margin-left: auto;
}

.header .link {
  display: block;
  font-weight: 300;
  text-decoration: none;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-top: 15px;
  color: #fefefe;
}

/* SITE NAV */
.main-site-nav {
  min-height: 90px;
}

.site-nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  margin-left: auto;
}

.logo {
  font-family: var(--font-roboto);
  font-size: 30px;
  font-weight: 300;
  line-height: 1.06;
  text-transform: uppercase;
  letter-spacing: -1px;
  text-decoration: none;
  color: inherit;
}

.logo::first-letter {
  color: var(--nav-color);
  font-weight: 900;
}

.nav-link {
  display: block;
  color: #0f0101;
  font-family: var(--font-opensans);
  font-weight: 900;
  font-size: 14px;
  line-height: 0.78;
  text-transform: uppercase;
  text-decoration: none;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 40px;
  padding-bottom: 35px;
}

/* BANNER */
.banner {
  position: relative;
  height: 600px;
  width: 1600px;
  background-image: url('../images/main_foto.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #181818;
}

.hero {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.hero-title {
  font-size: 48px;
  color: #fffcfc;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 25px;
  font-weight: 400;
  text-align: center;
}

.hero-title .first {
  font-family: var(--font-roboto);
  font-weight: 300;
}

.hero-title .second {
  font-weight: 900;
  color: var(--nav-color);
}

.hero-title .last {
  font-weight: 600;
  color: var(--nav-color);
}

.hero-link {
  display: block;
  font-size: 14px;
  font-family: var(--font-roboto);
  text-align: center;
  text-decoration: none;
}

/* ABOUT */
.about-list {
  display: flex;
  padding-top: 96px;
  padding-bottom: 84px;
}

.about-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.77;
  color: #555252;
  margin: 0;
  margin-bottom: 30px;
}

.about-title::before {
  display: block;
  content: '';
  height: 65px;
  width: 65px;
  margin: 0 auto;
  margin-bottom: 55px;
}

.first::before {
  background-image: url('../images/icon1.png');
  background-repeat: no-repeat;
}

.second::before {
  background-image: url('../images/icon2.png');
  background-repeat: no-repeat;
}

.third::before {
  background-image: url('../images/icon3.png');
  background-repeat: no-repeat;
}

.four::before {
  background-image: url('../images/icon4.png');
  background-repeat: no-repeat;
}

.about-item {
  flex-basis: (100% / 4 - 30px);
  margin-right: 39px;
  flex-grow: 0;
  text-align: center;
}

.about-item:last-child {
  margin-right: 0;
}

.about-item .item {
  font-weight: 300;
  font-size: 14px;
  margin: 0;
  line-height: 1.71;
  color: #555252;
}

/* GALLERY */
.gallery {
  padding-top: 110px;
}

.gallery .title {
  margin-bottom: 130px;
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
}
.gallery-item {
  flex-basis: calc(100% / 4 - 22, 5px);
  flex-grow: 0;
  margin-right: 30px;
  margin-bottom: 30px;
}

.gallery-item:nth-child(4n) {
  margin-right: 0;
}

.gallery-item:nth-last-child(-n + 4) {
  margin-bottom: 0;
}

.price-icon {
  display: flex;
  text-decoration: none;
  margin-left: auto;
  margin-top: -4px;
  font-size: 18px;
  font-weight: 900;
}

.price-title {
  text-transform: uppercase;
  padding-left: 13px;
  padding-top: 13px;
  margin: 0;
  background-color: #323232;
  color: #fff;
  flex-grow: 1;
}

.price {
  font-size: 18px;
  padding: 13px;
  margin: 0;
  background-color: #8c8c8c;
  color: #fff;
}

.gallery-item:hover .price-title,
.gallery-item:focus .price-title {
  background-color: #1abc9c;
}

.gallery-item:hover .price,
.gallery-item:focus .price {
  background-color: #7fd9c7;
}

/* BLOG */
.blog {
  padding-top: 103px;
  padding-bottom: 46px;
}

.blog .title {
  margin-bottom: 114px;
}

.blog-article {
  display: flex;
}

.blog-list {
  flex-basis: calc(100% / 3 - 20px);
  flex-grow: 0;
  margin-right: 30px;
}

.blog-list:last-child {
  margin-right: 0;
}

.blog-title {
  font-size: 18px;
  font-family: var(--font-opensans);
  font-weight: 600;
  line-height: 1.44;
  color: #555252;
  padding-top: 14px;
  margin-top: -8px;
  margin-bottom: 45px;
}

.blog-item {
  font-family: var(--font-opensans);
  font-size: 14px;
  line-height: 1.85;
  color: #555252;
  margin: 0;
  margin-bottom: 17px;
}

.blog-list .link {
  display: inline-block;
  font-family: var(--font-opensans);
  font-weight: 300;
  font-size: 16px;
  line-height: 1.625;
  text-decoration: none;
  text-transform: capitalize;
  color: #fff;
  background-color: #4ec6ab;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 45px;
  padding-left: 45px;
}
